    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">rapid<span class="highlight">Prebid</span>server</h2>
            <p class="intro">Open-source S2S Header Bidding Solution</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="" target="_blank">Coming soon...</a>
                <a class="btn btn-cta-primary" href="" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#" tar get="_blank">View on GitHub</a></li>
                <li><a href="" target="_blank">Full Documentation</a></li>
                <li>Created by: <a href="" target="_blank">RapidCodeLab</a> with attention to details )</li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                </ul>
            </div>
        </div>
    </section><!--//promo-->
